@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
          <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
              <Authorized>
                  <div>Hello, @context.User.Identity?.Name</div>
                  <a href="/logout">Logout</a>
              </Authorized>
              <NotAuthorized>
                  <div>No Auhorized</div>
              </NotAuthorized>
          </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
